[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "enviGCMS"]
	path = enviGCMS
	url = https://github.com/yufree/envigcms
[submodule "pmd"]
	path = pmd
	url = https://github.com/yufree/pmd
[submodule "rgabriel"]
	path = rgabriel
	url = https://github.com/yufree/rgabriel
